# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
/dist
/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
*bak
.vscode
/cmake-build-debug
/cmake-build-release

# visual studio code
.history
*.log
